
$main-container-border-color: #8b9aff;
$button-color-bg-default: #8b9aff;
$button-color-bg-hover: #f3cac4;

.main-container {
  border-color: $main-container-border-color;
}

.button-color {
  background-color: $button-color-bg-default;
  &:hover {
    background-color: $button-color-bg-hover;
  }
}


