
<div class="main-container p-5 max-w-7xl mx-auto my-10 border-2 border-solid rounded-md border-sky-500 bg-white">

        <mat-toolbar class="toolbar">
            <span>WeatherApp</span>
            <div class="flex w-96 rounded ">
                <input 
                    type="search" 
                    name="search" 
                    id="search" 
                    placeholder="Search City" #location (keyup.Enter)="onSearch(location.value)"
                    class="w-full border-none bg-transparent px-4 py-1 text-gray-900 outline-none focus:outline-none">
    
                 <button class="m-2 rounded bg-teal-800 px-4 text-white" (click)="onSearch(location.value)">Search</button>   
            </div>
        </mat-toolbar>

    <div class="upper-data relative mt-3 bg-pink-200">
        <img class="absolute inset-0 object-cover h-56 w-full z-10" src="../assets/cold8.jpg" *ngIf="14 <= 15">
        
            <span class="relative top-1 md:top-7 lg:top-6 left-14 md:left-20 lg:left-40 z-20">
                <div>
                    <img class="relative" src="{{this.weatherService.temperatureData.summaryImage}}">
                    <div>
                        <div class="relative text-sm md:text-base lg:text-lg text-black">{{this.weatherService.temperatureData.location}}</div>
                        <div class="relative text-3xl md:text-5xl lg:text-6xl font-bold text-slate-800">
                            {{ this.weatherService.temperatureData.temperature ? this.weatherService.temperatureData.temperature + '°C' : '' }}
                        </div>
                        <div class="relative text-sm md:text-base lg:text-lg text-black">{{this.weatherService.temperatureData.summaryPhrase}}</div>
                    </div>
                </div>
            </span>

            <div class="relative">
                <div class="absolute bottom-16 right-0 z-20 p-4">
                    <div class="relative text-md md:text-l lg:text-xl font-bold text-slate-800">{{this.weatherService.temperatureData.date}}</div>
                    <div class="text-black">{{this.weatherService.temperatureData.time}}</div>
                </div>
            </div>
    </div>

</div>
        